.header-top {
    height: 50px;
    width: 100%;
    padding: 0 25px;
    overflow: scroll;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-top span {
    margin: 0 7px;
    padding: 6px 3px;
    display: block;
    border-radius: 8px;
}

.navbar-top span:hover {}

.search-box-container {
    width: 50%;
    position: relative;
}

.search-box-container img {
    height: 20px;
    position: absolute;
    top: 50%;
    margin: 0 3px;
    transform: translate(0, -50%);
}

.search-box-container input {
    height: 32px;
    width: 100%;
    padding: 0 32px;
}

.button {
    display: block;
    padding: 5px;
    border: 1px solid #000;
}

.button:hover {}

.main {
    height: calc(100vh - 64px);
    margin-top: 64px;
}

.container {
    display: flex;
    justify-content: center;
}

.sidebar-left {
    width: 210px;
    height: 100%;
    padding: 5px;
    box-shadow: 1px 0px 0px 2px #e3d8d8;
}

.sidebar-left span {
    display: block;
    padding: 10px 2px;
    font-size: 1.1rem;
}

.sidebar-left span img {
    width: 21px;
    margin: 0 5px 0 0;
    float: left;
}

.sidebar-left .active {
    border-right: 2px solid #391349;
}

.sidebar-left ol span {
    margin: 0 25px;
}

.sidebar-left ol .q-span {
    margin: 0;
}

.home {
    height: fit-content;
    width: 1080px;
    display: flex;
    margin: 0 6px;
    overflow: scroll;
}

.sidebar-right {
    width: 27%;
    overflow: scroll;
    flex-grow: 1;
}

.hot-topics,
.watched-tags {
    margin: 5px;
    padding: 3px;
    border: 1px solid;
    box-shadow: 0px 0px 6px #5a4e4ec6;
}

.hot-topics div h4 {
    font-size: 1.1rem;
    padding: 3px 0;
    border: 1px solid;
}

.hot-topics div ol li {
    margin: 3px 0;
}

.hot-topics div ol li img {
    height: 18px;
    margin: 0 5px;
}

.hot-topics div ol li span {}

.watched-tags {
    margin-top: 32px;
}

.watched-tags h4 {
    border: 1px solid;
}

.watched-tags .tags-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.watched-tags .tags-container span {
    padding: 0px 7px;
    margin: 1px;
    display: block;
    border-radius: 2px;
    font-size: 1.1rem;
    border: 1px solid #000;
}

.questions {
    width: 70%;
    height: 100%;
    margin: 0 13px;
}

.title-ask-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.title-ask-button-container button {
    padding: 3px;
}

.questions-list {}

.question {
    display: flex;
    margin: 3px 0;
    padding: 0 3px;
    border: 1px solid #000;
}

.question-reach {
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1rem;
}

.question-reach span {
    margin: 5px 13px;
}

.question-info-container {
    flex-grow: 1;
}

.question-title-container {
    width: fit-content;
    margin: 3px;
    font-size: 1.3rem;
}

.question-info {
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    align-items: baseline;
}

.question-info .tags {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.tags span {
    margin: 3px;
    padding: 2px;
    border-radius: 5px;
}

.question-info .info span {
    display: block;
    text-align: end;
}

.tags-page .tags-container {
    width: 1080px;
    margin: 0 6px;
    overflow: scroll;
}

.tags-page .tags-container div {
    margin: 0 13px;
}

.all-tags {
    height: fit-content;
    width: 75vw;
    display: flex;
    flex-wrap: wrap;
}

.tag {
    width: 180px;
    height: fit-content;
    overflow: hidden;
    margin: 6px;
    padding: 5px;
    border: 1px solid #000;
    box-shadow: 0px 0px 6px #c59797;
}

.tag h4 {
    width: fit-content;
    padding: 3px;
    background-color: #e3d8d8;
    border: 1px solid #000;
}

.tag div {
    margin: 12px 0 !important;
}

.users-profile-container {
    height: 100%;
    width: 1080px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 0 6px;
    overflow: scroll;
}

.all-profiles {
    height: fit-content;
    width: 75vw;
    display: flex;
    flex-wrap: wrap;
}

.profile-card {
    overflow: hidden;
    border: 1px solid;
    margin: 13px;
}

.profile-image-container img {
    height: 120px;
    width: 120px;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

.profile-card .info {
    margin: 5px;
}

.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-div-l p {
    margin: 18px 0;
}

.form-container {
    width: 320px;
    margin: 0 25px;
    text-align: center;
}

.form-container form {
    padding: 18px;
    border: 1px solid;
    font-size: 1.3rem;
    text-align: left;
}

.form-container form span label {
    display: block;
    margin: 15px 0 3px 0;
}

.form-container form span input,
.form-container form button {
    width: 100%;
    height: 32px;
}

.form-container form p {
    font-size: 0.7rem;
    margin: 8px 0;
}

.checkbox-container input {
    height: 38px;
    width: 38px;
}

.checkbox-container span {
    display: block;
    float: right;
    font-size: 0.7rem;
    width: calc(100% - 45px);
}

.form-container p {
    margin: 15px 0;
}

.login-form-container .password-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-form-container button {
    margin: 18px 0 0 0;
}

.user-profile-page {
    font-size: 1.2rem;
}

.user-profile-container {
    width: 1080px;
    background-color: #c59797;
}

.user-profile {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.user-profile-name {
    flex-grow: 1;
    flex-basis: 1;
}

.user-profile-image-container img {
    height: 150px;
    width: 150px;
}

.edit-profile-btn {
    padding: 3px;
    margin: 5px;
    border: 1px solid;
}

.user-profile-summary {
    padding: 6px;
}

.user-profile-watched-tags-container span {
    width: fit-content;
    margin: 5px;
    display: block;
    border: 1px solid;
    text-align: center;
    padding: 3px;
}

.hidden {
    display: none;
}

.summary-form-container {
    padding: 8px;
    border: 1px solid;
}

.summary-form-container form {
    font-size: 1rem;
    font-weight: bold;
}

.summary-form-container span,
.summary-form-container label {
    display: block;
}

.summary-form-container input,
.summary-form-container textarea {
    width: 360px;
    margin: 5px 0;
}

.summary-form-container input,
.summary-form-container button {
    height: 28px;
    padding: 5px;
}

/* ************************ */

.question-page>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.question-form-container {
    background-color: #e3d8d8;
    padding: 12px;
    margin: 5px 0;
    font-size: 0.7rem;
}

.question-form-container span {
    display: block;
    margin: 15px 5px;
}

.question-form-container span label {
    font-size: 1rem;
    font-weight: bold;
}

.question-form-container input,
.question-form-container textarea {
    width: 480px;
}

.view-question-main-container {
    height: fit-content;
    width: 1080px;
    display: flex;
    margin: 0 5px;
    justify-content: space-between;
}

.view-question-container {
    width: 70%;
    height: 100%;
    margin: 0 13px;
}

.question-body-wrapper {
    padding-bottom: 25px;
    border-bottom: 1px solid;
}

.question-body-wrapper h2 {
    margin: 6px 0 12px 35px;
}

.question-body-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.question-votes span {
    font-size: 1rem;
    text-align: center;
    display: block;
    padding: 2px 6px;
    margin: 2px;
    cursor: pointer;
    border: 1px solid;
}

.question-body {
    margin: 2px 12px;
}

.question-body-author-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.question-body-button-container {
    display: flex;
    align-items: center;
}

.question-body-button-container button {
    height: 24px;
    margin: 0 3px;
}

.question-body-author-container span {
    margin: 0 5px 0 0;
}

.answer-wrapper {
    margin: 3px;
    padding-bottom: 18px;
    border-bottom: 1px solid;
}

.answer-form-container {
    padding: 3px;
}

.answer-form-container button {
    display: block;
}