.header-top {
    height: 50px;
    width: 100%;
    padding: 0 25px;
    overflow: scroll;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    box-shadow: 1px 3px 0px #d7c7c7c6;
}

.navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-top span {
    margin: 0 7px;
    padding: 6px 3px;
    display: block;
    border-radius: 8px;
}

.navbar-top span:hover {
    background-color: #9400d3;
}

.search-box-container {
    width: 50%;
    position: relative;
    background-color: #9400d3;
}

.search-box-container img {
    height: 20px;
    position: absolute;
    top: 50%;
    margin: 0 3px;
    transform: translate(0, -50%);
}

.search-box-container input {
    height: 32px;
    width: 100%;
    padding: 0 32px;
}

.login-button {
    display: block;
    color: #00ffff;
    background-color: #250d39;
    padding: 5px;
}

.login-button:hover {
    color: #250d39;
    background-color: #00ffff;
}

.main {
    height: calc(100vh - 64px);
    margin-top: 64px;
    display: flex;
    justify-content: center;
}

.sidebar-left {
    width: 210px;
    height: 100%;
    box-shadow: 1px 0px 0px 2px #e3d8d8;
}

.sidebar-left span {
    display: block;
    padding: 10px 2px;
    font-size: 1.1rem;
}

.sidebar-left span img {
    width: 21px;
    margin: 0 5px 0 0;
    float: left;
}

.sidebar-left .active {
    background-color: #00ffff;
    border-right: 2px solid #391349;
}

.sidebar-left ol span {
    margin: 0 25px;
}

.sidebar-left ol .question {
    margin: 0;
}

.home {
    width: 1080px;
    display: flex;
    margin: 0 5px;
}

.questions {
    width: 70%;
    height: 100%;
    background-color: #073c3c;
}

.sidebar-right {
    height: 100%;
    width: 27%;
    overflow: scroll;
    color: #ffffff;
    background-color: #d86464;
}

.hot-topics div h4 {
    background-color: #391349;
    font-size: 1.1rem;
    padding: 3px 0;
}

.hot-topics div ol li {
    margin: 3px 0;
}

.hot-topics div ol li img {
    height: 18px;
    margin: 0 5px;
}

.hot-topics div ol li span {
    color: #00ffff;
}

.watched-tags {
    margin-top: 32px;
}

.tags-container {
    width: 100%;
    background-color: #391349;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border: solid 1px #e3e6e8;
    padding: 10px;
}

.tags-container span {
    padding: 0px 1px;
    margin: 1px;
    display: block;
    background-color: #e1ecf4;
    color: #070202;
    border-radius: 2px;
    font-size: 1.1rem;
}